<div class="container">
    <p>Cadastro</p>
    <div class="input-icon">
    <i class="fa fa-user"></i>
    <input type="text" placeholder="UserName">
  </div>
  <div class="input-icon">
    <i class="fa fa-lock"></i>
    <input type="password" placeholder="Password">
  </div>
  <button class="btn-login" (click)="irParaVagas()">Login</button>
  <h1>Ainda não possui conta? <span class="last-word" (click)="irParaCadastro()">Registre-se</span></h1>
  <div class="social-icons">
  <i class="fab fa-google"></i>
  <i class="fab fa-github"></i>
  <i class="fab fa-linkedin"></i>
  </div>
  </div>
